<template>
  <footer>
    Anton Yolhin | Pegas Touristik
  </footer>
</template>
<style scoped>
footer
{
  padding: 20px;
  height: 60px;
  background: #fff;
  color: #999;
  text-align: center;
  border-top: 1px solid #ddd;
}
</style>
