<template lang="html">
  <section id="loader">
    <img src="http://gifimage.net/wp-content/uploads/2017/08/loading-gif-transparent-10.gif" alt="" />
  </section>
</template>

<script>
export default {
}
</script>

<style lang="css">
#loader {
  user-select: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: none;
}
.loader-show {
  display: block !important;
}
#loader img {
  top: 50%;
  position: absolute;
  display: inline-block;
  margin-top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
}
</style>
