<template>
  <section class="pagination">
    <a v-bind:class="{'not-active': meta.page === 0}" v-on:click="skip(0)">0</a>
    <a v-bind:class="{'not-active': meta.page < 10}" v-on:click="skip(meta.page - 10)"><<</a>
    <a v-bind:class="{'not-active': meta.page < 1}" v-on:click="skip(meta.page - 1)"><</a>
    <a class="not-active current-page">{{meta.page}}</a>
    <a v-bind:class="{'not-active': meta.page > meta.totalPages - 2}" v-on:click="skip(meta.page + 1)">></a>
    <a v-bind:class="{'not-active': meta.page > meta.totalPages - 11}" v-on:click="skip(meta.page + 10)">>></a>
    <a v-bind:class="{'not-active': meta.page === meta.totalPages -1}" v-on:click="skip(meta.totalPages-1)">{{meta.totalPages-1}}</a>
  </section>
</template>

<script>
export default {
  props: [
    'meta'
  ],
  methods: {
    skip: function (page) {
      this.$parent.filters.page = page
      this.$parent.update()
    }
  }
}
</script>

<style scoped>
.pagination {
  margin-top: 4px;
}
.pagination a {
  border: 1px solid #eaeaea;
  border-right: 0px;
  padding: 6px 12px;
  user-select: none;
  font-weight: bold;
  cursor: pointer;
}
.pagination a:hover {
  background: #f8f8f8;
}
.not-active {
  pointer-events: none;
  background: #f4f4f4;
  opacity: 0.4;
}
.current-page {
  background: #fff;
  color: #000
}
.pagination a:first-child {
  border-radius: 5px 0px 0px 5px;
}
.pagination a:last-child {
  border-right: 1px solid #eaeaea;
  border-radius: 0px 5px 5px 0px;
}
</style>
