<template>
  <section class="modal">
    <div class="modal-close" v-on:click="close"></div>
    <div class="modal-body" v-if="hotel.common">
      <h1 class="title">
        {{ hotel.common.main.title }}
      </h1>
      <div v-html="hotel.common.main.description">
      </div>
      <div class="photos">
        <div v-for="photo in hotel.media.photo.slice(0, 4)">
          <img :src="photo.url" alt="" />
        </div>
      </div>
      <div class="rooms">
        Available room types: <span v-for="room in hotel.rooms">
          {{ room.name }}
        </span>
      </div>
    </div>
    <div class="modal-body" v-else>
      <h1 class="title">
        There is no "hotel.common.main" data available.
      </h1>
    </div>
  </section>
</template>

<script>
import axios from '~/plugins/axios'

export default {
  name: 'id',
  async asyncData ({ params, error }) {
    let { data } = await axios.request('get', '/api/hotel/' + params.id)
    console.log(data)
    return {
      hotel: data.hotel
    }
  },
  methods: {
    close: function () {
      this.$router.back()
    }
  },
  head () {
    return {
      title: `User:`
    }
  }
}
</script>

<style scoped>
.photos div {
  display: inline-block;
  height: 140px;
  padding: 5px;
}
.photos img {
  height: 140px;
}
.title {
  margin-top: 30px;
}
.rooms {
  padding: 15px 0px;
}
.modal {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.modal-close {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
}
.modal-body {
  width: 80%;
  top: 5%;
  left: 10%;
  height: 80%;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #fafafa;
  position: absolute;
}
</style>
