<template>
  <section class="container main">
    <h1>Anton Yolhin</h1>
    <h2>Hotels for Pegas Touristik</h2>
    <nuxt-link :to="{ name: 'search' }">
      Search
    </nuxt-link>
  </section>
</template>

<script>
export default {
  head () {
    return {
      title: 'Pegas Hotels'
    }
  }
}
</script>

<style scoped>
.main
{
  background: #667eea ;  /* fallback for old browsers */
  padding: 40px;
  background: -webkit-linear-gradient(to right, #667eea , #764ba2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667eea , #764ba2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90vh;
}
a {
  border: 2px solid #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  color: #fff;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.1s ease-out;
}
a:hover {
  background: rgba(0, 0, 0, 0.3);
}
h1 {
  margin: 0;
  font-size: 3.5em;
  pointer-events: none;
  color: #fff;
}
h2 {
  margin: 40px;
  pointer-events: none;
  font-size: 2.5em;
  color: #fefefe;
}
</style>
