<template>
  <section class="container search">
    <nuxt-child></nuxt-child>
    <div class="hotels">
      <div class="filters">
        <input type="text" v-model="filters.name" v-debounce="500" v-on:change="update" class="name-filter">
        <select class="" v-model="filters.limit" v-on:change="update" class="limit-filter">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
        <paginator :meta="meta" class="page-filter"></paginator>
      </div>
      <nuxt-link :to="{ name: 'search-id', params: { id: hotel.id }}" v-for="(hotel, index) in hotels" :key="index" class="hotel">
        <div class="hotel-name">
          {{ hotel.name }}
        </div>
        <div class="stars">
          <img src="https://icon-icons.com/icons2/906/PNG/512/star-half-filled_icon-icons.com_69881.png" alt="" />
          <span>
            {{ hotel.stars }}
          </span>
        </div>
      </nuxt-link>
      <div class="search-message" v-if="!hotels.length">
        <span v-if="meta.page !== 0">
          No resutls for this page.
        </span>
        <span v-else>
          Nothing found
        </span>
      </div>
    </div>
  </section>
</template>

<script>
import axios from '~/plugins/axios'
import debounce from '~/plugins/debounce'
import paginator from '~/components/paginator'

export default {
  directives: { debounce },
  components: {
    paginator
  },
  data () {
    return {
      meta: {},
      hotels: []
    }
  },
  async asyncData (context) {
    let query = context.route.query
    let filters = {
      limit: query.limit || 20,
      name: query.name || '',
      page: query.page || 0
    }
    return {
      filters: filters
    }
  },
  methods: {
    getHotels: async function () {
      let url = '/api/hotels' + this.getSearch()
      let { data } = await axios.request('get', url)
      if (data.error) return
      this.hotels = data.hotels
      this.meta = data.meta
    },
    update: function () {
      this.$router.replace({path: `/search${this.getSearch()}`})
      this.getHotels()
    },
    getSearch: function () {
      return `?name=${this.filters.name}&page=${this.filters.page}&limit=${this.filters.limit}`
    }
  },
  created () {
    this.getHotels()
  },
  head () {
    return {
      title: 'Pegas Hotels'
    }
  }
}
</script>

<style scoped>
.page-filter {
  float: right;
}
.limit-filter {
  margin-left: 10px;
  font-size: 1.1em;
}
.name-filter {
  border: 1px solid #dadada;
  border-radius: 2px;
  padding: 4px 8px;
  outline: none;
}
.search-message {
  font-size: 1.2em;
  padding: 15px;
}
.filters {
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dadada;
  height: 56px;
  padding: 15px;
  text-align: left;
}
.hotels {
  position: relative;
  background: #fff;
  display: block;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  width: 80%;
  left: 10%;

}
.hotel {
  min-height: 30px;
  padding: 10px 30px;
  color: #111;
  height: 100%;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}
.hotel:hover {
  background: #f8f8f8;
}
.stars,
.hotel-name {
  display: inline-block;
  font-size: 1.4em;
}
.stars img {
  height: 1.1em;
  margin: -1px 3px 0px 25px;
  float: left;
  width: 1.1em;
}
.stars span {
  font-weight: bold;
  color: #aaa
}
.search {
  background: #667eea ;  /* fallback for old browsers */
  padding: 40px;
  background: -webkit-linear-gradient(to right, #667eea , #764ba2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667eea , #764ba2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 90vh;
}
</style>
